.pdm.toml                               

# tests
etc/AnnotSV/configfile.minAnnotation
etc/AnnotSV/application.properties.2007 
etc/AnnotSV/application.properties.1902

# Annotations
share/AnnotSV/Annotations_Human/        
share/AnnotSV/Annotations_Mouse/
share/AnnotSV/Annotations_Exomiser/

# Python reimplementation of AnnotSV
# + PhenoGenius install
share/python3/annotsv/
src/
Python/
share/python3/phenogenius/

# Unit tests
tests/AnnotSV/privateTest_*
tests/AnnotSV/test_*/command_Tcl.log
tests/AnnotSV/test_*/output/
tests/AnnotSV/ToDo

# VariantConvert
share/python3/variantconvert/pipinstall.flag
share/python3/variantconvert/configs/*/annotsv3_from_bed.local.json
share/python3/variantconvert/variantconvert/__pycache__/
share/python3/variantconvert/variantconvert/__pycache__/*.pyc
share/python3/variantconvert/variantconvert/converters/__pycache__/
share/python3/variantconvert/variantconvert/converters/__pycache__/*.pyc
share/python3/variantconvert/variantconvert.egg-info/
