[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
pydantic = "*"
typing-extensions = "*"
cyvcf2 = "*"

[dev-packages]
black = "21.10b0"
typer-cli = "*"
pdbpp = "*"
ipython = "*"

[scripts]
annotsv = "./bin/pyAnnotSV"
