[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
pydantic = "*"

[dev-packages]
black = "*"
typer-cli = "*"
pdbpp = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
