[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
pydantic = "*"
typing-extensions = "*"

[dev-packages]
black = "*"
typer-cli = "*"
pdbpp = "*"
ipython = "*"

[pipenv]
allow_prereleases = true

[scripts]
annotsv = "./bin/pyAnnotSV"
